body {
    background-color: #4cace0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto 0;
}

h1 {
    font-weight: lighter;
    text-align: center;
}

p {
    display: inline;
}

a {
    display: inline;
}

.parent-div {
    margin: 3%;
}

.inputs-div {
    text-align: center;
    margin: 3% 0;
}

.state-div {
    display: inline-block;
    width: 30%;
}

.city-div {
    display: inline-block;
    margin: 0 1%;
    width: 30%;
}

.zipcode-div {
    display: inline-block;
    width: 30%;
}

.disclaimer-div {
    text-align: left;
}